{% extends "@tcds/components/component/component.html.twig" %}

{% set component_name = "Notification" %}

{% if id is not defined %}
  {% set id = "notification-#{random(0, 1000)}" %}
{% endif %}

{% block root_attributes %}
  role="{{ type ?: "status" }}"
  id="{{ id }}"
{% endblock %}

{% block inner_content %}
  <div class="Notification__content">
    {{ content|raw }}
  </div>

  {{ include("@tcds/components/button/button.html.twig", {
    label: "Dismiss notification",
    icon: "x",
    controls: id,
    modifiers: ["icon-only", "round", "ghost"],
    custom_classes: ["Notification__dismiss"],
  }, with_context = false) }}

  {% if "full-bleed" in modifiers %}
    {{ include("@tcds/components/button/button.html.twig", {
      label: "Expand notification",
      icon: "chevron-down",
      controls: id,
      modifiers: ["icon-only", "round"],
      custom_classes: ["Notification__expand"],
    }, with_context = false) }}
  {% endif %}
{% endblock %}
