{% extends "@tcds/components/component/component.html.twig" %}

{% set component_name = "Notification" %}

{% if id is not defined %}
  {% set id = "notification-#{random(0, 1000)}" %}
{% endif %}

{% block root_attributes %}
  role="{{ type ?: "status" }}"
  id="{{ id }}"
{% endblock %}

{% block inner_content %}
  <div class="Notification__content">
    <tcds-button icon="only x" round color="ghost" class="Notification__dismiss" controls="{{ id }}">Dismiss notification</tcds-button>

    {{ content|raw }}
  </div>

  {% if "full-bleed" in modifiers %}
    <tcds-button icon="only chevron-down" round color="ghost" class="Notification__expand" controls="{{ id }}">Expand notification</tcds-button>
  {% endif %}
{% endblock %}
