<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title ? "#{title} - " }}Texas Children's Design System</title>

  <link href="/dist/tcds/tcds.css" rel="stylesheet">
  <link href="/styles/main.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet">

  {% block head %}{% endblock %}
</head>
<body class="page-{{ title|clean_class }} category-{{ category ? category|clean_class : "top-level" }} line-numbers">
  
  {{ include("templates/partials/header.twig") }}

  <main>
    <header class="page-masthead">
      {% if category is defined and category|length %}
        <p class="page-category">{{ category }}</p>
      {% endif %}

      <h1 class="page-title">{{ title }}</h1>
    </header>

    <details hidden data-toc-disclosure class="toc">
      <summary class="toc__toggle" title="Table of contents">
        <span class="visually-hidden" id="toc-label">Table of contents</span>
        {{ include("templates/components/icon/icon.html.twig", {
          icon: "list",
          width: "16",
        }) }}
      </summary>
      <nav data-toc class="toc__nav" aria-labelledby="toc-label"></nav>
    </details>

    <p class="lead">{% block lead %}{% endblock %}</p>

    <hr>

    {% block body %}{% endblock %}
  </main>

<script async src="/dist/tcds/tcds.js"></script>
<script async src="/scripts/main.js"></script>
</body>
</html>