{% extends "@tcds/components/component/component.html.twig" %}

{% set component_name = "Hero" %}

{% set root_element = "section" %}

{% block root_attributes %}
  {% if interval %}
    data-interval="{{ interval }}"
  {% endif %}

  {# {% if backgrounds|length == 1 %}
    style="background-image: url('{{ backgrounds[0] }}')"
  {% elseif backgrounds|length > 1 %}
    data-background-images="{% for background in backgrounds %}{{ background }} {% endfor %}"
  {% endif %} #}
{% endblock %}

{% block inner_content %}
  {% if backgrounds|length == 1 %}
    <style>
      .Hero {
        background-image: url({{ backgrounds[0]["default"]["image"] }});
        background-position: {{ backgrounds[0]["default"]["pos_x"] }} {{ backgrounds[0]["default"]["pos_y"] }};
      }

      {% if backgrounds[0]["above_small"]["image"] is defined and backgrounds[0]["above_small"]["image"] is not empty and backgrounds[0]["above_small"]["image"] != "/" %}
        @media (min-width: 640px) {
          .Hero {
            background-image: url({{ backgrounds[0]["above_small"]["image"] }});
            background-position: {{ backgrounds[0]["above_small"]["pos_x"] }} {{ backgrounds[0]["above_small"]["pos_y"] }};
          }
        }
      {% endif %}

      {% if backgrounds[0]["above_medium"]["image"] is defined and backgrounds[0]["above_medium"]["image"] is not empty and backgrounds[0]["above_medium"]["image"] != "/" %}
        @media (min-width: 768px) {
          .Hero {
            background-image: url({{ backgrounds[0]["above_medium"]["image"] }});
            background-position: {{ backgrounds[0]["above_medium"]["pos_x"] }} {{ backgrounds[0]["above_medium"]["pos_y"] }};
          }
        }
      {% endif %}

      {% if backgrounds[0]["above_large"]["image"] is defined and backgrounds[0]["above_large"]["image"] is not empty and backgrounds[0]["above_large"]["image"] != "/" %}
        @media (min-width: 1024px) {
          .Hero {
            background-image: url({{ backgrounds[0]["above_large"]["image"] }});
            background-position: {{ backgrounds[0]["above_large"]["pos_x"] }} {{ backgrounds[0]["above_large"]["pos_y"] }};
          }
        }
      {% endif %}

      {% if backgrounds[0]["above_x_large"]["image"] is defined and backgrounds[0]["above_x_large"]["image"] is not empty and backgrounds[0]["above_x_large"]["image"] != "/" %}
        @media (min-width: 1280px) {
          .Hero {
            background-image: url({{ backgrounds[0]["above_x_large"]["image"] }});
            background-position: {{ backgrounds[0]["above_x_large"]["pos_x"] }} {{ backgrounds[0]["above_x_large"]["pos_y"] }};
          }
        }
      {% endif %}
    </style>
  {% endif %}

  <div class="Hero__content">
    {% if block("start") %}
      <div class="column gap-normal align-start">
        {% block start %}{% endblock %}
      </div>
    {% endif %}

    <div class="column gap-normal align-start flex-1">
      {% if heading %} <p class="Hero__heading">{{ heading|raw }}</p> {% endif %}
      {% if subheading %} <p class="Hero__subheading">{{ subheading|raw }}</p> {% endif %}
      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}
