<footer class="site-footer">
  <div class="site-footer__logo">
    <a href="{{ logo.link ?: "/" }}" rel="home" title="Go home">
      <img height="{{ logo.height ?: "128" }}" width="{{ logo.width ?: "200" }}" src="{{ logo.image ?: "https://unpkg.com/@txch/tcds/dist/images/logo.svg" }}" alt="Texas Children's logo">
    </a>
  </div>

  {% block menus %}{% endblock %}

  <nav class="site-footer__social" aria-labelledby="footer-social-cta">
    <h2 id="footer-social-cta">{{ social_cta ? social_cta|raw : "Connect with Texas Children's Hospital on our social media channels" }}</h2>

    <ul>
      {% for item in social_links %}
        <li>
          <tcds-button icon="only {{ item.icon }}" link="{{ item.link }}" round color="secondary" class="site-footer__social-icon">{{ item.title }}</tcds-button>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <section class="site-footer__fine-print {{ footer_logos ? "site-footer__fine-print--with-logos" }}">
    <div class="max-width">
      <div>
        <p>{{ fine_print ? fine_print|raw : "&copy; 1998—#{'now'|date('Y')} Texas Children's Hospital. All rights reserved."|raw }}</p>

        <nav class="site-footer__policy-nav" aria-labelledby="footer-policy-links">
          <h2 id="footer-policy-links" class="visually-hidden">Policy links</h2>
          <ul>
            {% for item in policy_links %}
              <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>

      {% if footer_logos %}
        <ul class="site-footer__logo-list">
          {% for item in footer_logos %}
            <li class="site-footer__logo-item">
              <a href="{{ item.link }}" title="{{ item.title }}">
                <img src="{{ item.image }}" alt="{{ item.title }}">
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>
</footer>
