<header class="site-header">
  <div class="site-header__logo">
    <a href="{{ logo.link ?: "/" }}" rel="home" title="Go home">
      <img height="{{ logo.height ?: "150" }}" width="{{ logo.width ?: "160" }}" src="{{ logo.image ?: "https://unpkg.com/@txch/tcds/dist/images/logo.svg" }}" alt="Texas Children's logo">
    </a>
  </div>

  {{ include("@tcds/components/button/button.html.twig", {
    label: "Open menu",
    icon: "hamburger",
    controls: "header-menu",
    modifiers: ["icon-only", "round", "ghost"],
    custom_classes: ["site-header__open-menu"],
    custom_attributes: {
      "aria-expanded": "false",
    },
  }, with_context = false) }}

  <div class="site-header__menu" id="header-menu">
    {{ include("@tcds/components/button/button.html.twig", {
      label: "Close menu",
      icon: "x",
      controls: "header-menu",
      modifiers: ["icon-only", "round", "ghost"],
      custom_classes: ["site-header__close-menu"],
      custom_attributes: {
        "aria-expanded": "false",
      },
    }, with_context = false) }}

    {% block menus %}{% endblock %}
  </div>
</header>
