{% extends "@tcds/components/component/component.html.twig" %}

{% set component_name = "Dialog" %}

{% set required_props = [title] %}

{% set id = id ?: "dialog-#{title|clean_id}" %}

{% block root_attributes %}
  hidden
  role="dialog"
  aria-modal="true"
  aria-labelledby="{{ id }}-title"
  id="{{ id }}"
  data-open-onload="{{ open_onload ?: "false" }}"
{% endblock %}

{% block inner_content %}
  <div class="Dialog__content">
    <h1 class="{{ "show-title" not in modifiers ? "visually-hidden" }}" id="{{ id }}-title">{{ title }}</h1>
    <tcds-button icon="only x" controls="{{ id }}" round class="bg-secondary Dialog__close">Close dialog</tcds-button>

    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock %}
