<div class="is-self-responsive">
  {% embed "@tcds/components/component/component.html.twig" with {
    component_name: "Card",
    root_element: "article",
  } %}

    {% block inner_content %}
      {% if image.url %}
        <figure class="Card__media">
          <img src="{{ image.url }}" alt="{{ image.alt ?: '' }}" class="Card__image"
            {% if "image-max-220" in modifiers %} height="220" {% endif %}
          >
        </figure>
      {% endif %}

      <div class="Card__body">
        {% if title %}
          <a {% if link %} href="{{ link }}" {% endif %} class="Card__title" aria-describedby="{{ content|slice(0, 20)|clean_id }} {{ link ? "#{content|slice(0, 20)|clean_id}-action" }}">{{ title|raw }}</a>
        {% endif %}

        {% if content %}
          <div class="Card__content" id="{{ content|slice(0, 20)|clean_id }}">
            {{ content|raw }}
          </div>
        {% endif %}

        <div class="Card__footer">
          {% block card_end %}
            {% if link %}
              <a
                class="Button Button--small {{ "full-width-button" in modifiers ? "Button--full-width" }}"
                href="{{ link }}"
                aria-hidden="true"
                tabindex="-1"
                id="{{ content|slice(0, 20)|clean_id }}-action"
              >
                {{ action_label ?: "Read more" }}
              </a>
            {% endif %}
          {% endblock %}
        </div>
      </div>
    {% endblock %}
  {% endembed %}
</div>